<ol class = "links">
  <% @articles.each do |article| %>
    <li>
      <p class=".arrow"> <img class = "arrow" src = "grayarrow.gif">
        <%= article["title"] %>
        <a href= <%= "#{article["url"]}"%> target="_blank"  > <%= article["url"] %> </a>
      </p>
      <p>
        <%= article["score"] %> points by
        <%= article["user_name"] %>
        <%= article["time_amount"] %> <%= article["time_unit"] %> ago
      </p>
      <p>
        <%= article["description"] %>
      </p>
    </li>
  <% end %>
</ol>
